# Exclude the .htaccess file
.htaccess

# Exclude any PSD/AI source
*.psd
*.ai

# Exclude the build projects
build/*
*.[oa]

# Exclude OS x FOLDER ATTRIBUTES
.DS_Store

# Exclude Text files
*.txt
# Except read me
!README.txt

# Exclude log files
*.log

# Exclude Fonts
_fonts/


